<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="directoryInformationSection"
             type="Task4_BCL.Configuration.FileConfigurationSection, Task4_BCL"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <directoryInformationSection culture ="ru-RU">
    
    <directories>
      <directory folderPath ="D:\MonitorFolder1"/>
      <directory folderPath ="D:\MonitorFolder2"/>
    </directories>

    <directoryPatterns defaultFolder ="D:\DefaultFolder">
      <pattern name ="Text Files" pattern ="*.txt" folder ="D:\TextFiles" addDate ="true" addNumber ="false"/>
      <pattern name ="Word Files" pattern ="*.doc" folder ="D:\WordFiles" addNumber ="true"/>
      <pattern name ="Excel Files" pattern ="*.xls" folder ="D:\ExcelFiles"/>
    </directoryPatterns>
    
  </directoryInformationSection>
  
</configuration>